@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
}

body {

}

main {
  height: 827px;
  width: 765px;
}

.task-button {
  width: 149px;
  height: 40px;
}

.content {
  padding: 0 70px;
}

.search-icon {
  position: absolute;
  top: 20px;
  right: 20px;
}

.tooltip {
  height: 30px;
}

.menu-open-icon {
  position: absolute;
  top: 50%;
  left: 5px;
}

.messages {
  height: 700px;
  /* width: 610px; */
}

nav .open {
  opacity: 1;
  transform: translateX(0);
}

.tasks, .messages {
  width: 625px;
}

.send-message {

  height: 55px;
  margin: 16px 0;
  padding: 0 32px;
}

.side-nav {
  /* height: 827px;
  white-space: nowrap;  
  width: 100%;
  min-width: fit-content; */
}
/* 
.nav-item {
  width: 95%;
} */

.icons-hover {
  position: relative;
}

.sidebar-action-icon {
  position: absolute;
  top: 50%;
  left: 184px;
}

.close-sidebar-tooltip {
  top: -0.25em;
}

.attachment-tooltip {
  top: -2.25em;
  left: -2em;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
